.footer {
  --padding-top-bttom: 4rem;
  --padding-left-right: 0;
  background-color: var(--clr-black-1000);
  padding: var(--padding-top-bttom) var(--padding-left-right);

  color: var(--clr-white-0);
  text-align: center;
  text-transform: uppercase;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > * {
      width: 50rem;
    }
  }

  &__links {
    font-weight: 300;
    font-size: 1.5rem;

    ul {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 0.5rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__copyright {
    margin-top: 4rem;
  }
}
