.footer {
  background-color: $color-black-900;
  color: $color-white;

  &__info {
    padding: 5rem 10rem;
    width: 100%;

    display: grid;
    row-gap: 3rem;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $color-blue-300;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 1rem;

    font-size: 3rem;
  }

  &__links {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;

    display: grid;
    place-content: center;
    grid-template-columns: repeat(6, auto);
    column-gap: 1rem;

    text-transform: uppercase;

    li {
      list-style: none;
    }
  }

  &__copyright {
    background-color: $color-black;
    height: 5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
