.topbar {
  height: 4rem;
  background-color: $color-black;
  color: $color-white;

  display: grid;
  place-content: center;

  &__info {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
