.article-home,
.article-services,
.article-about,
.article-contact {
  min-height: 100vh;
  padding: 10rem 0;

  @include respond(tab-land) {
    padding: 5rem 0;
  }

  @include respond(phone) {
    padding: 2.5rem 0;
  }
}
