.article-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  @include respond(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(md) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    min-height: 50rem;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__icons {
    margin: 2rem 2rem 0;
    color: $color-blue-300;
  }

  &__text {
    width: 60%;
    font-size: clamp(1.6rem, 1.7vw, 1.8rem);
  }

  &__intro {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    flex-direction: column;
    justify-content: flex-start;

    text-align: right;

    @include respond(lg) {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;

      text-align: left;
    }
  }
}
