.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-blue-300;
  border-radius: 10px;
  padding: 1.5rem 3rem;

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: $color-blue-300;

  a {
    color: $color-blue-300;

    &::focus,
    &::visited {
      color: $color-blue-300;
    }
  }

  &--home {
    margin-top: 3rem;
  }

  &--contact {
    margin: 3.5rem 0 5rem;
  }
}

.scrollButton {
  border: none;
  background-color: transparent;
  height: 6rem;
  width: 6rem;
  cursor: pointer;

  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;

  font-size: 3rem;
  color: $color-blue-400;

  &__icon {
    font-size: 8rem;
  }
}
