body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-black-900;
}

.heading-one {
  font-size: 4rem;
  max-width: 30ch;

  span {
    color: $color-blue-300;
  }
}

.heading-two {
  margin-bottom: 1rem;
}

.heading-three {
  margin-bottom: 1rem;
}
