body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-black-900;
}

.heading-one {
  font-size: 4rem;
  max-width: 30ch;

  @include respond(big-desktop) {
    font-size: 6rem;
  }

  @include respond(tab-land) {
    font-size: 3.5rem;
  }

  span {
    color: $color-blue-300;
  }
}

.heading-two {
  margin-bottom: 1rem;

  text-transform: uppercase;

  font-size: 3.5rem;

  @include respond(tab-land) {
    font-size: 2rem;
  }
}

.heading-three {
  margin-bottom: 1rem;

  &--lighter {
    color: $color-grey-600;
  }
}

.paragraph {
  line-height: 2;
  // text-align: justify;
  max-width: 45ch;

  font-size: $default-font-size;

  @include respond(big-desktop) {
    font-size: 2rem;
  }

  @include respond(tab-land) {
    font-size: $default-font-size;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
