/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #1a1a1a;
  padding: 2rem;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2;
  text-align: justify;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.label {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.label a {
  color: #f3f4f6;
  font-weight: 700;
}

.bg--hotpink {
  background-color: hotpink;
}

.bg--orangered {
  background-color: orangered;
}

.bg--steelblue {
  background-color: steelblue;
}

.bg--forestgreen {
  background-color: forestgreen;
}

.bg--midnightblue {
  background-color: midnightblue;
}

.bg--limegreen {
  background-color: limegreen;
}

.categoryList {
  width: 100%;
  padding: 1.25rem;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1.5rem;
}

.categoryList__heading {
  background-color: #1f2937;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.categoryList__divider {
  border-top-width: calc(1px * calc(1 - 0));
  border-bottom-width: calc(1px * 0);
  border-color: #d1d5db;
}

.categoryList li {
  padding: 1rem;
  cursor: pointer;
}

.categoryList li:hover {
  background-color: #f9fafb;
}

.navbar {
  width: 80rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.navbar__logo span {
  font-weight: 700;
}

.navbar__links li {
  display: inline-block;
  margin-right: 2rem;
}

.post {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-top: 6rem;
  padding: 1.5rem 2.5rem;
  width: 100%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post__image {
  margin-bottom: 4rem;
  border-radius: 0.25rem;
}

.post__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__description {
  margin-top: 2rem;
}

.post__description a {
  font-size: 2rem;
  font-weight: bold;
}

.post__description p {
  margin-top: 0.5rem;
  color: #4b5963;
}

.post__extra {
  margin-top: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post__button {
  color: #111827;
}

.post__button:hover {
  color: #2563eb;
}

.footer {
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 6rem * 3) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 6rem * 3) / 4) + (2 * 6rem));
}

.section-contact {
  height: 85vh;
}

.section-home {
  height: 85vh;
}

.section-story {
  height: 85vh;
}

.section-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-work__main {
  width: 75%;
  margin: 2.5rem;
}

.section-work__title {
  padding: 1.25rem;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.section-work__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

@media (min-width: 112.5em) {
  .section-work__grid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.section-work__sidebar {
  width: 25%;
}
/*# sourceMappingURL=main.css.map */